<div class="mt-6">
  <app-table-crud
    [items]="users"
    [createFn]="createUser"
    [deleteFn]="deleteUser"
    createIcon="pi pi-user-plus"
    deleteAllIcon="pi pi-user-minus"
    [globalFilterFields]="['username', 'firstName', 'lastName']"
    [tableStyles]="{ 'min-width': '75rem' }"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template appTableCrudTemplate="captionText" let-dt>
      <h5 class="m-0" i18n>Manage users</h5>
    </ng-template>
    <ng-template appTableCrudTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="username" style="min-width: 15rem" i18n>
          Username <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="min-width: 15rem" i18n>
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName" i18n>
          First name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName" i18n>
          Last name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th i18n>Enabled</th>
        <th i18n>Email verified</th>
        <th style="min-width: 10rem" i18n>Required actions</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template appTableCrudTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td class="lowercase">{{ user.username }}</td>
        <td>
          <p-tag severity="info" class="lowercase">{{ user.email }}</p-tag>
        </td>
        <td class="capitalize">{{ user.firstName }}</td>
        <td class="capitalize">{{ user.lastName }}</td>
        <td>
          <i
            class="text-lg pi"
            [ngClass]="{
              'pi-check-circle text-green-500': user.enabled,
              'pi-times-circle text-red-500': !user.enabled
            }"
          ></i>
        </td>
        <td>
          <i
            class="text-lg pi"
            [ngClass]="{
              'pi-check-circle text-green-500': user.emailVerified,
              'pi-times-circle text-red-500': !user.emailVerified
            }"
          ></i>
        </td>
        <td>{{ user.requiredActions }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-user-edit"
            class="p-button-rounded p-button-secondary"
            style="margin-right: 0.5rem"
            (click)="editUser(user)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-user-minus"
            class="p-button-rounded p-button-danger"
            (click)="deleteUser(user)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template appTableCrudTemplate="summary">
      <div class="flex items-center justify-content-between" i18n>
        In total there are {{ users ? users.length : 0 }} users.
      </div>
    </ng-template>
  </app-table-crud>
</div>
