<p-sidebar [(visible)]="display" (onHide)="onHide()">
  <div class="p-1">
    <p-selectButton
      [options]="themeModes"
      [(ngModel)]="selectedThemeMode"
      (ngModelChange)="notifyDarkModeChange($event)"
      optionLabel="icon"
      optionValue="value"
      styleClass="flex justify-center"
    >
      <ng-template let-item>
        <i
          *ngIf="item.value !== undefined; else elseBlock"
          [class]="item.icon"
        ></i>
        <ng-template #elseBlock>
          <span class="text-xs">Auto</span>
        </ng-template>
        <span></span>
      </ng-template>
    </p-selectButton>
  </div>
</p-sidebar>
